@import "_multiple.scss";
body{
    @include display(100vw,100vh,center);
}
form{
    @include display(90vw,90vh,space-evenly);
    flex-direction: column;

    .sigin{
        font-size:2.5rem;
        font-weight: bold;
        text-transform: uppercase;
        text-shadow: 0 0 20px  black;
        word-spacing: 2rem;
        letter-spacing: 1rem;
    }

    input{
        width:20vw;
        height:5vh;
        padding: .5rem;
        border-radius:5rem;
        border:1px solid #0000004d;
        &:focus{
            outline: none;
        }
    }
    input::placeholder{
        font-size: 1.5rem;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
    span{
        @include display(20vw,5vh ,none );
        font-size: 1.5rem;
        .Checkbox{
            width:2vw;
            height: 2vh;
        }
    }
    .Button{
        background-color: black;
        font-size: 1.5rem;
        text-transform: uppercase;
        font-weight: bold;
        letter-spacing: .5rem;
        color: white;
    }
}
.Change{
    border-color:red;
}
.span1{
    display:none;
    color:red;
}
@mixin media($val1,$val2){
    form{
        input{
        width:$val1;
        height:$val2;
        }
        span{
            @include display($val1,$val2,none);
            .Checkbox{
                width:$val1/10;
            }
        }
    }
}

@media screen and (max-width:1440px){
    @include media(30vw,5vh);
}
@media screen and (max-width:1024px){
    @include media(40vw,5vh);
}
@media screen and (max-width:768px){
    @include media(50vw,5vh);
}
@media screen and (max-width:425px){
    @include media(70vw,5vh);
}
@media screen and (max-width:320px){
    @include media(80vw,5vh);
    form {
    .sigin{
            font-size: 1.5rem;
        }
    }
}
