<html lang="en">
<head>
    {{>meta}} 
    <title>Document</title>
    <link rel="stylesheet" href="./scss/Login.css">
</head>
<body>
    <form action="/Login1" method="POST">
        <div>Login Here</div>
        <input type="email" name="email" class="email" placeholder="Enter your email">
        <input type="password" name="password" class="password" placeholder="Enter your password">
        <input type="submit" class="login" value="Log In" />
    </form>
</body>
</html>