<!DOCTYPE html>
<html lang="en">
<head>
{{>meta}}
    <title>Document</title>
    <link rel="stylesheet" href="../scss/Sign.css">
</head>
<body>
    <form action="/details" method="post">
        <div class="sigin">Signin here</div>
        <input type="email" name="email" id="email" class="email" placeholder="Enter your email">
        <input type="number" name="number" id="number" class="number" placeholder="Enter your Phone number">
        <input type="password" name="password" id="password" class="password" placeholder="Enter your password">
        <input type="password" name="cpassword" id="cpassword" class="cpassword" placeholder="conform your Password">
        <input type="number" name="age" id="age" class="age" placeholder="Enter your Age">
        <span><input type="checkbox" name="Checkbox" class="Checkbox"/>Conforming the rules and regualtions</span>
        <input type="submit" class="Button" value="Signin"/>
    </form>
</body>
</html>